.body {
  background-color: #3f4552;
  min-height: 95vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}